:root {
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  color: #18212e;
  background-color: #efe4d1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}

a {
  color: inherit;
}
